# ---------------[ Unity generated ]------------------ #

/ProjectSettings
# ---------------[ Unity generated ]------------------ #
/Temp
/obj
/UnityGenerated
/Library

# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj