<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FBottle-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,44},{32,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,112},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,112},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,78},{12,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{12,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{18,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,78},{20,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{20,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,87},{16,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{16,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,89},{24,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{24,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{28,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{28,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FBottle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,40},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{22,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PFBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,40},{19,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{19,21}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PFBottle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PFBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,61},{8,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{8,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>PFBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,61},{8,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{8,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>PFBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,78},{12,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>PFBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,78},{12,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>PFBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,47},{16,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>PFBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{16,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{16,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TFireBottle.pvr.ccz</string>
            <key>size</key>
            <string>{139,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf0e39595105d88384f695e3580fea7f$</string>
            <key>textureFileName</key>
            <string>TFireBottle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
