<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fan-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,34}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{34,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{52,58}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{52,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{36,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan00.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,62},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{54,54}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,222},{64,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{64,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{60,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan21.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,282},{58,56}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{58,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{70,70}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{60,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{68,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{74,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Fan33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PFan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{62,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{62,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PFan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{82,88}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PFan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{54,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PFan21.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,862},{58,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{58,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PFan31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{68,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TFan-hd.pvr.ccz</string>
            <key>size</key>
            <string>{124,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a94c34ce4298d90d437ac691f2bfd6d2$</string>
            <key>textureFileName</key>
            <string>TFan-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
