<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PRocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,922},{38,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,554},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,65},{70,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{96,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{96,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{142,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{184,184}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PRocket-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,246}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>PRocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,910},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PRocket02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,554},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PRocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,436},{30,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{30,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,702},{30,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,614},{30,86}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,858},{30,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,526},{30,86}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,770},{42,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,866},{42,88}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,674},{42,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{42,90}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,1},{42,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket25.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,578},{42,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,352},{50,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{50,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,454},{50,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{50,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket35.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,250},{50,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,862},{60,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{60,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,706},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,626},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,922},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{30,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,436},{30,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{30,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,702},{30,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{30,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,786},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,770},{42,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,866},{42,88}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,786},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{50,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Rocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,352},{50,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Rocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{50,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TRocket-hd.pvr.ccz</string>
            <key>size</key>
            <string>{254,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e43a24f85dc0e18b0e952b2221f207$</string>
            <key>textureFileName</key>
            <string>TRocket-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
